<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head') %>

<body>
	<% if (locals.usuarioLogueado != undefined) { %>
		<%- include('./partials/headerLogueado')%>
	<% } else { %>
		<%- include('./partials/header')%>
	<% } %>
	

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> Register </h2>
				<form action="/users/registro" method="POST">
					<label for="email"> Email: </label>
					<input type="email" id="email" name="email" placeholder="example@gmail.com" >
					<label for="usuario"> Usuario: </label>
					<input type="text" id="usuario" name="usuario" placeholder="Nombre">
					<label for="constrasenia"> Contraseña: </label>
					<input type="password" id="constrasenia" name="constrasenia" placeholder="1234567">
					<label for="fechaNacimiento"> Fecha de nacimiento: </label>
					<input type="date" id="fechaNacimiento" name="fechaNacimiento" placeholder="24/12/2004">
					<label for="documento"> Nro de documento: </label>
					<input type="number" id="documento" name="documento" placeholder="46279494" required>
					<label for="fotoPerfil"> Foto de perfil: (URL) </label>
					<input type="text" id="fotoPerfil" name="fotoPerfil" placeholder="URL" required>
					<button type="submit"> Registrarse </button>

					<% if(error != undefined) { %>
						<p> <%= error %> </p>
					<% } %>
				</form>
			</div>

	<%- include('./partials/footer')%>
	
	
</body>

</html>